<div class="container">
  <div class="landing_nav">
    <h1>GitHub Repository Search</h1>
    <div>
      <input
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        placeholder="Search Repositories..."
        type="text"
      />
      <button (click)="search()">Search</button>
      <label>
        <input type="checkbox" [(ngModel)]="isTableView" />
        Display as Table
      </label>
    </div>
  </div>
    
  
    <div *ngIf="isTableView; else cardView">
      <!--table view-->
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Forks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repo of repositories" (click)="goToDetail(repo)">
            <td>{{ repo.name }}</td>
            <td>{{ repo.stargazers_count }}</td>
            <td>{{ repo.forks_count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!--card view-->
    <ng-template #cardView>
      <div class="card" *ngFor="let repo of repositories" (click)="goToDetail(repo)">
        <h3>{{ repo.name }}</h3>
        <p>Stars: {{ repo.stargazers_count }}</p>
        <p>Forks: {{ repo.forks_count }}</p>
      </div>
    </ng-template>

    <!--no data found message-->
    <h1 class="data_not_found" *ngIf="dataNotFound">Data not found!</h1>
</div>
  