<div class="container">
  <!-- search -->
  <div class="landing_nav">
    <h1>GitHub Repository Search</h1>
    <div>
      <input
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        placeholder="Search Repositories..."
        type="text"
      />
      <button (click)="search()">Search</button>
      <label>
        <input type="checkbox" [(ngModel)]="isTableView" />
        Display as Table
      </label>
    </div>
  </div>
    
  <!-- table view -->
  <div *ngIf="isTableView && !loading">
    <!--table view-->
    <table>
      <thead>
        <tr>
          <th>
            Name
            <img width="20px" src="/assets/images/repoName.png" alt="star image"/>
          </th>
          <th>
            Stars 
            <img width="15px" src="/assets/images/star.png" alt="star image"/>
          </th>
          <th>
            Forks
            <img width="20px" src="/assets/images/forks.png" alt="star image"/>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repo of repositories" (click)="goToDetail(repo)">
          <td>
            {{ repo.name }}
            <img width="20px" src="/assets/images/repoName.png" alt="star image"/>
          </td>
          <td>
            {{ repo.stargazers_count }} 
            <img width="15px" src="/assets/images/star.png" alt="star image"/>
          </td>
          <td>
            {{ repo.forks_count }}
            <img width="20px" src="/assets/images/forks.png" alt="star image"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--card view-->
  <div class="card_view_container" *ngIf="!isTableView && !loading">
    <div class="card" *ngFor="let repo of repositories" (click)="goToDetail(repo)">
      <h3>
        {{ repo.name }}
        <img width="20px" src="/assets/images/repoName.png" alt="star image"/>
      </h3>
      <p>
        Stars: {{ repo.stargazers_count }}
        <img width="15px" src="/assets/images/star.png" alt="star image"/>
      </p>
      <p>
        Forks: {{ repo.forks_count }}
        <img width="20px" src="/assets/images/forks.png" alt="star image"/>
      </p>
    </div>
  </div>


  <!-- Pagination Controls -->
  <div class="paggination_container" *ngIf="!loading && repositories.length > 0">
    <button 
      (click)="previousPage()" 
      [disabled]="currentPage === 1"
      [ngStyle]="{ 'cursor': currentPage === 1 ? 'not-allowed' : 'pointer' }"
    >
      Previous
    </button>
    <span>Page {{ currentPage }}</span>
    <button 
      (click)="nextPage()" 
      [disabled]="currentPage * perPage >= totalResults"
      [ngStyle]="{ 'cursor': currentPage * perPage >= totalResults ? 'not-allowed' : 'pointer' }"
    >
      Next
    </button>
  </div>

<!------------------       messages           --------------->
  <!--no data found message-->
  <h1 class="message" *ngIf="dataNotFound && !loading">Data not found!</h1>

  <!-- loading message-->
  <h1 class="message" *ngIf="loading">Loading...</h1>

  <!-- error message -->
  <h1 class="message" *ngIf="errorMessage.length > 0">{{errorMessage}}</h1>

</div>
  